
@import url('https://fonts.googleapis.com/css?family=Barrio|El+Messiri');

*	{

	box-sizing:border-box;
	padding: 0;
	margin:0;

	}
	body {
		padding-top: 50px;
		background-color: #66574A

	}

	h2 {
		text-align: center;
	}
	 p {

		color:#1a140f;
		font-size:20px;
		font-style: bold;


	}
	.img-circle {
    border-radius: 50%;
    width: 100%;
}
	#about {

		color:purple;
		font-style: italic;
		background-color: #FFDAB9;


	}

.top-nav {

	display: flex;
	background: #000;
	min-height: 50px;
	overflow: hidden;
	align-items: center;
	position:fixed;
	width: 100%;
	top: 0;
	left:0;
		}

.top-nav a {

	color: #fff;
	text-decoration: none;
	transition: .5s;

}
.top-nav a:hover {

	color:#047dbf;
	border-bottom: 3px solid #047dbf;

}

.brand-text {

	font-size: 30px;
	margin-left:15px;

}
.top-nav-list {
	display:flex;
	list-style: none;
	margin-left:auto;

}
.top-nav-list li {

		margin: 0px 15px;


}
.top-nav-list a {

	padding: 5px;


	transition: background-image .5s;
}


.full-screen-bg {
    height:calc(100vh - 50px);
    width:100%;
    background-image: url("../images/landscape3.jpg");
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items:center;
    color:#fff;
    font-family: 'Barrio', cursive;
	font-family: 'El Messiri', sans-serif;
	font-size:50px;
    transition: background-image .5s;
}
.flex-row{
    display:flex;
    flex-wrap: nowrap;
}

.col-4-2-1{
    width:23%;
    margin: 1%;
    padding:10px;
}

@media (max-width: 1200px) {

	.full-screen-bg {

		background-image: url("../images/landscape2.jpg");
		font-size:30px;
		
				}
	
	.flex-row{
		flex-wrap: wrap;
	}

	.col-4-2-1 {
		width:48%;
	}

	


}
@media (max-width: 600px;){
	.top-nav {
		display: block;
	}

	.full-screen-bg {
		background-image: url("../images/landscape1.jpg");
		color: #000;
		font-size: 15px;
	}
	.col-4-2-1 {
		width:98%;
	}


}